<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a href="/" class="navbar-brand">
    Gruia Press
  </a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">home</a>
    </li>
  </ul>
</nav>